*{
    padding:0;
    margin:0;
}
  

//$color-dark-grey:#666;
$color-dark-grey:rgb(72,85,93);
$color-white:#FFF;


.header{
    height: 45px;
    background-color: $color-dark-grey;
    color: $color-white;
    nav{
        position: relative;
        width: 76vw;
        height: 100%;
        margin: auto auto;
        figure, p, ul li{
            float: left;
        }
        figure{
            height: 100%;
            img{
                margin-top: 5px;
            }
        }
        figure:nth-child(5){
            position: absolute;
            right: 0;
            img{
                margin-top: 8px;
                margin-left: 3px;
            }
        }
        p{
            margin-top: 10px;
        }
        p:nth-child(4){
            position: absolute;
            right: 28px;
        } 
        ul{
            position: absolute;
            right: 175px;
            list-style: none;
            margin-top: 10px;
            li{
                padding-right: 15px;
                a{
                    color:$color-white;
                    text-decoration:none;
                }
            }
        }
    }
}
