*{
    padding:0;
    margin:0;
}
  

//$color-dark-grey:#666;
$color-dark-grey:rgb(72,85,93);
$color-white:#FFF;


.header{
    height: 45px;
    background-color: $color-dark-grey;
    color: $color-white;
    nav{
        width: 76vw;
        height: 100%;
        margin: auto auto;
        figure, p{
            float: left;
        }
        figure{
            height: 100%;
            img{
                margin-top: 5px;
            }
        }
        figure:nth-child(4){
            img{
                margin-top: 8px;
                margin-left: 3px;
            }
        }
        p{
            margin-top: 10px;
        }
        p:nth-child(3){
            margin-left: 900px;
        } 
    }
}